@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


/* Opcional: Estilos globales para aplicar la fuente */
* {
  font-family: 'Adam', sans-serif;
  font-family: Frutiger Neue LT,
    Arial,
    Helvetica,
    Helvetica Neue,
    sans-serif;
  font-size: 20px;
}

.hero-overlay-triangle-1 {
  clip-path: polygon(0 0, 100% 54.2%, 100% 100%, 0 100%);
  height: 10.65vw;
}

.hero-overlay-triangle-2 {
  clip-path: polygon(0 0, 100% 15.2%, 100% 100%, 0 100%);
    height: 7.27vw;
}

.hero-overlay-triangle-3 {
  clip-path: polygon(0 63%, 100% 0, 100% 100%, 0 100%);
  height: 7.27vw;
}

.hero-overlay-triangle-4 {
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    height: 9.05vw;
}

.hero-overlay-gradient {
  background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0));
  -webkit-clip-path: polygon(0 100%, 28% 0, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 28% 0, 100% 0, 100% 100%);
  height: 2vw;
  min-height: 1rem;
}

.opacity-66 {
  opacity: 0.66;
}